Repository teutonet/teutonet-helm-charts, pull requests merged in 2023-12, with the labels that each got.

#660 ci(teuto-portal-k8s-worker): move imageRegistry to worker values
  charts/teuto-portal-k8s-worker/Chart.yaml
  charts/teuto-portal-k8s-worker/values.schema.json
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#675 fix(teuto-portal-k8s-worker): image repository
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#685 fix(base-cluster/monitoring): don't use bitnamis "strong" password
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/grafana-secret.yaml
Labels: base-cluster

#679 feat(t8s-cluster/cinder-csi-plugin): allow to run on control-plane
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin.yaml
Labels: t8s-cluster

#669 fix(base-cluster/helmrepositories): add missing nginx condition
  charts/base-cluster/values.yaml
Labels: base-cluster

#668 fix(base-cluster/cert-manager): debounce certificate-expiration alert
  charts/base-cluster/templates/cert-manager/rules/certificate-expiration.yaml
Labels: base-cluster
