Repository teutonet/teutonet-helm-charts, pull requests merged in 2023-11, with the labels that each got.

#636 fix(t8s-cluster/management-cluster): adjust containerd config to work with cgroupv2
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_helpers.tpl
Labels: t8s-cluster

#545 feat(base-cluster/monitoring): monitor all namespaces by default
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_prometheus_config.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#632 chore(base-cluster/dependencies): improve conditions
  charts/base-cluster/templates/dns/external-dns.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#642 fix(base-cluster/monitoring): cert-manager is always deployed, so should its dashboard
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#623 feat(base-cluster/monitoring): oidc authentication
  charts/base-cluster/ci/monitoring-ingress-unauthenticated-values.yaml
  charts/base-cluster/ci/monitoring-oidc-ingress-disabled-values.yaml
  charts/base-cluster/ci/monitoring-oidc-values.yaml
  charts/base-cluster/templates/_hosts.tpl
  charts/base-cluster/templates/global/_reflector.tpl
  charts/base-cluster/templates/global/certificates.yaml
  charts/base-cluster/templates/global/imagePullSecrets.yaml
  charts/base-cluster/templates/global/reflector.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_helpers.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_prometheus-stack-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_prometheus_config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/grafana-secret.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy-secret.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/prometheus-operator.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#608 fix(base-cluster/kyverno): fix excluded namespaces
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#640 feat(base-cluster/monitoring): improve strength of generated grafana adminPassword
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/grafana-secret.yaml
Labels: base-cluster

#644 fix(base-cluster): notes formatting
  charts/base-cluster/templates/NOTES.txt
Labels: base-cluster

#645 feat(base-cluster/monitoring): allow admin login even with oidc
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#647 fix(base-cluster/ingress): fix templating when no baseDomain is set
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_helpers.yaml
Labels: base-cluster

#638 fix(t8s-cluster): allow greater than one gpu requests
  charts/t8s-cluster/templates/workload-cluster/gpu-operator.yaml
Labels: t8s-cluster

#622 feat(teuto-portal-k8s-worker): initial implementation
  charts/teuto-portal-k8s-worker/Chart.lock
  charts/teuto-portal-k8s-worker/Chart.yaml
  charts/teuto-portal-k8s-worker/ci/worker-values.yaml
  charts/teuto-portal-k8s-worker/templates/_helpers.tpl
  charts/teuto-portal-k8s-worker/templates/deployment.yaml
  charts/teuto-portal-k8s-worker/templates/service.yaml
  charts/teuto-portal-k8s-worker/templates/servicemonitor.yaml
  charts/teuto-portal-k8s-worker/values.schema.json
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal, teuto-portal-k8s-worker
