Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-02, with the labels that each got.

#763 fix(base-cluster/backup)!: only enable velero if a backupstoragelocation is set
  charts/base-cluster/README.md.gotmpl
  charts/base-cluster/templates/backup/credentials.yaml
  charts/base-cluster/templates/backup/migrations/velero-4-to-5.yaml
  charts/base-cluster/templates/backup/validation.yaml
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: bug, base-cluster

#756 fix(base-cluster/grafana): oidc secret handling
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy-secret.yaml
  charts/base-cluster/values.yaml
Labels: base-cluster

#781 chore(base-cluster/backup): pin velero, as they don't follow semver
  charts/base-cluster/values.yaml
Labels: base-cluster

#784 chore(base-cluster/kyverno)!: upgrade 🤮
  charts/base-cluster/README.md.gotmpl
  charts/base-cluster/templates/kyverno/kyverno.yaml
  charts/base-cluster/templates/kyverno/validation.tpl
  charts/base-cluster/values.yaml
Labels: base-cluster

#787 feat(t8s-cluster)!: migrate to new image names
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#767 chore(teuto-portal-k8s-worker): streamline imagePullPolicy
  charts/teuto-portal-k8s-worker/templates/deployment.yaml
Labels: teuto-portal-k8s-worker

#757 chore(base-cluster): streamline imagePullPolicy
  charts/base-cluster/templates/backup/migrations/velero-4-to-5.yaml
  charts/base-cluster/templates/flux/_create-authentication-key-secret-job.yaml
  charts/base-cluster/templates/global/prevent-uninstallation.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/cronjob.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/registration.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/unregister.yaml
Labels: base-cluster

#768 chore(t8s-cluster): streamline imagePullPolicy
  charts/t8s-cluster/templates/management-cluster/uninstall.yaml
  charts/t8s-cluster/templates/workload-cluster/pre-install/_uninstall-job.yaml
  charts/t8s-cluster/templates/workload-cluster/pre-install/uninstall-storageclasses.yaml
Labels: t8s-cluster

#758 fix(base-cluster/oauth-proxy): use correct secretName for certificate
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
Labels: base-cluster

#795 feat(t8s-cluster/management-cluster)!: migrate to new secret naming
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
Labels: t8s-cluster

#722 feat(t8s-cluster/management-cluster): automatically roll cluster if certs are going to expire
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_kubeadmControlPlaneTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/kubeadmControlPlaneTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmnControlPlaneTemplate/_kubeadmControlPlaneTemplateSpec.yaml
Labels: t8s-cluster

#774 feat(t8s-cluster): update all HRs and enable driftDetection
  charts/t8s-cluster/templates/workload-cluster/_helmRelease.yaml
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/templates/workload-cluster/cni-cilium.yaml
  charts/t8s-cluster/templates/workload-cluster/gpu-operator.yaml
Labels: t8s-cluster

#806 feat(t8s-cluster/management-cluster)!: add environment parameter
  charts/t8s-cluster/ci/artifacthub-values.yaml
  charts/t8s-cluster/templates/management-cluster/cluster.yaml
  charts/t8s-cluster/values.schema.json
Labels: t8s-cluster
