Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-08, with the labels that each got.

#1063 fix(base-cluster/backup): fix formatting
  charts/anynines-klutch/templates/oidc/dex.yaml
  charts/anynines-klutch/templates/oidc/keycloak-secret.yaml
  charts/anynines-klutch/templates/oidc/keycloak.yaml
  charts/base-cluster/templates/backup/velero.yaml
  charts/crossplane-anynines/templates/deploymentRuntimeConfig.yaml
Labels: base-cluster

#1064 fix(base-cluster): definitely enable everything for artifacthub
  charts/base-cluster/ci/artifacthub-values.yaml
Labels: base-cluster

#1062 fix(base-cluster/kdave): image 2.x.x is unsupported by the helm chart
  charts/base-cluster/templates/monitoring/kdave/kdave.yaml
Labels: base-cluster

#1067 fix(base-cluster/kube-prometheus-stack): set deployment strategy to r…
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#1082 fix(teuto-portal-k8s-worker): adjust for new syntax
  charts/teuto-portal-k8s-worker/templates/deployment.yaml
Labels: teuto-portal-k8s-worker

#962 feat(t8s-cluster): add support for HCP
  charts/t8s-cluster/ci/hcp-values.yaml
  charts/t8s-cluster/templates/_etcd-defrag.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/bootstrapConfigTemplate/_bootstrapConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/bootstrapConfigTemplate/_k0smotronConfigTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/bootstrapConfigTemplate/_kubeadmConfigTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/bootstrapConfigTemplate/gpuNodePoolBootstrapConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/bootstrapConfigTemplate/standardNodePoolBootstrapConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/clusterClass.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/_k0smotronControlPlaneTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/k0smotronControlPlaneTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_kubeadmConfigTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_nodePoolKubeadmConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/gpuNodePoolKubeadmConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/standardNodePoolKubeadmConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_kubeadmControlPlaneTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/kubeadmControlPlaneTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackClusterTemplate/_openStackClusterTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackMachineTemplates/openStackMachineTemplates.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_kubelet.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_patches.tpl
  charts/t8s-cluster/templates/management-cluster/etcd-defrag.yaml
  charts/t8s-cluster/templates/management-cluster/repositories/helmRepositories.yaml
  charts/t8s-cluster/templates/workload-cluster/_helmRelease.yaml
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/templates/workload-cluster/etcd-defrag.yaml
  charts/t8s-cluster/values.schema.json
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#1087 fix(t8s-cluster/management-cluster): clean old config before applying new one if the old one stay, they might be incompatible now 🙄
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_kubelet.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_patches.tpl
Labels: t8s-cluster

#1088 fix(t8s-cluster/management-cluster): replace `remove` with `add` `remove` doesn't work when the `path` doesn't exist 🤦
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_kubelet.tpl
Labels: t8s-cluster

#1094 fix(ckan): add defaults for datapusher formats defaults
  .github/trusted_registries.yaml
  charts/ckan/templates/_helpers.tpl
  charts/ckan/templates/ckan/deployment.yaml
  charts/ckan/templates/datapusher/deployment.yaml
  charts/ckan/values.schema.json
  charts/ckan/values.yaml
Labels: ckan

#1095 fix(ckan): volume mount position one level up
  charts/ckan/templates/ckan/deployment.yaml
Labels: ckan

#1098 fix(ckan): init container for volume permissions
  charts/ckan/templates/ckan/deployment.yaml
Labels: ckan

#1104 fix(ckan): fix solr cloud setup
  charts/ckan/values.yaml
Labels: ckan

#1115 fix(base-cluster/cert-manager): ciliumNetworkPolicy for cert-manager otherwise it can't correctly talk to letsencrypt, ... 🤣
  charts/base-cluster/templates/cert-manager/cert-manager.yaml
  charts/base-cluster/templates/cert-manager/ciliumNetworkPolicy.yaml
  charts/base-cluster/templates/global/ciliumClusterwideNetworkPolicy.yaml
Labels: base-cluster

#1116 chore(base-cluster/oauth-proxy): adjust labels for proxies chore(base-cluster/oauth-proxy): adjust CiliumNetworkPolicy to correctly filter requests from ingress
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
Labels: base-cluster

#1120 fix(base-cluster/monitoring): send Watchdog alert to `null` if deadmansswitch is not configured
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
Labels: base-cluster

#1056 feat(base-cluster/tetragon): add tetragon
  charts/base-cluster/templates/tetragon/tetragon.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1053 fix(base-cluster/kube-prometheus-stack): only disable PrometheusNotConnectedToAlertmanagers when Alertmanager is disabled as well
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_prometheus-stack-config.yaml
Labels: question, base-cluster
