Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-03, with the labels that each got.

#808 feat(teuto-portal-k8s-worker)!: add environment parameter
  charts/teuto-portal-k8s-worker/ci/worker-values.yaml
  charts/teuto-portal-k8s-worker/values.schema.json
Labels: teuto-portal-k8s-worker

#811 fix(base-cluster/kyverno): configure missing registry for kyverno images
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#802 fix(t8s-cluster/management-cluster): the branch is for pre-release and not for real releases
  charts/t8s-cluster/templates/management-cluster/repositories/cni-calico.yaml
Labels: t8s-cluster

#801 chore(t8s-cluster): disallow versions above 28
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
  charts/t8s-cluster/values.schema.json
Labels: t8s-cluster

#773 feat(base-cluster): upgrade all HRs and enable driftDetection
  charts/base-cluster/templates/_helmRelease.yaml
  charts/base-cluster/templates/backup/migrations/velero-4-to-5.yaml
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/templates/cert-manager/cert-manager.yaml
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/templates/dns/external-dns.yaml
  charts/base-cluster/templates/global/reflector.yaml
  charts/base-cluster/templates/ingress/nginx.yaml
  charts/base-cluster/templates/kyverno/kyverno.yaml
  charts/base-cluster/templates/kyverno/policies/kyverno-base-policies/kyverno-policies.yaml
  charts/base-cluster/templates/kyverno/validation.tpl
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/prometheus-operator.yaml
  charts/base-cluster/templates/monitoring/loki/loki.yaml
  charts/base-cluster/templates/monitoring/metrics-server/metrics-server.yaml
  charts/base-cluster/templates/monitoring/security/trivy.yaml
  charts/base-cluster/templates/monitoring/tracing/grafana-tempo.yaml
  charts/base-cluster/templates/monitoring/tracing/opentelemetry-collector.yaml
  charts/base-cluster/templates/nfs-server-provisioner/nfs-server-provisioner.yaml
Labels: base-cluster

#625 fix(t8s-cluster/management-cluster): openstackImageNamePrefix
  charts/t8s-cluster/templates/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/cluster.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/clusterClass.yaml
  charts/t8s-cluster/values.schema.json
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#825 feat(base-cluster): enable cilium dns proxy
  charts/base-cluster/templates/global/ciliumClusterwideNetworkPolicy.yaml
Labels: base-cluster

#845 fix(base-cluster/tracing): remove undefined exporter
  charts/base-cluster/templates/monitoring/tracing/opentelemetry-collector.yaml
Labels: base-cluster

#838 feat(base-cluster/descheduler): run as deployment and enable prometheus
  charts/base-cluster/templates/descheduler/descheduler.yaml
Labels: base-cluster

#829 chore(base-cluster/monitoring): remove unnecessary arg
  charts/base-cluster/templates/monitoring/metrics-server/metrics-server.yaml
Labels: base-cluster

#832 feat(base-cluster/tracing): add resources settings for ingester
  charts/base-cluster/templates/monitoring/tracing/grafana-tempo.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster
