Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-07, with the labels that each got.

#1004 chore(common): improve developer experience by providing tab-completion
  charts/common/templates/_helm.tpl
Labels: common

#1003 chore(base-cluster): mustMerge* is the safer option
  charts/base-cluster/templates/_helmRelease.yaml
  charts/base-cluster/templates/_ingress.tpl
  charts/base-cluster/templates/cert-manager/clusterissuer.yaml
  charts/base-cluster/templates/flux/_create-authentication-key-secret-job.yaml
  charts/base-cluster/templates/flux/_create-authentication-key-secret-rbac.yaml
  charts/base-cluster/templates/flux/_create-gpg-key-secret-job.yaml
  charts/base-cluster/templates/flux/_create-ssh-key-secret-job.yaml
  charts/base-cluster/templates/global/_reflector.tpl
  charts/base-cluster/templates/global/certificates.yaml
  charts/base-cluster/templates/kyverno/policies/teuto-policies/disallow-default-namespace/_policy.yaml
  charts/base-cluster/templates/kyverno/policies/teuto-policies/restrict-automount-sa-token/_policy.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_helpers.yaml
Labels: base-cluster

#1000 fix(base-cluster/oidc): this fixes the wrongly rolled out outh config
  charts/base-cluster/templates/NOTES.txt
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_helpers.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy-secret.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1011 feat(base-cluster): add kube-janitor
  charts/base-cluster/Chart.lock
  charts/base-cluster/Chart.yaml
  charts/base-cluster/templates/global/kube-janitor.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#984 feat(t8s-cluster/raise_api_version): raise api version for helm.toolk…
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/templates/workload-cluster/cni-cilium.yaml
  charts/t8s-cluster/templates/workload-cluster/gpu-operator.yaml
Labels: t8s-cluster

#1026 fix(base-cluster/monitoring): 🤦
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#1025 feat(t8s-cluster/management-cluster): set a memory limit for the kube-apiserver, so things like kyverno won't take out the whole node
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_kubeadmControlPlaneTemplateSpec.yaml
Labels: t8s-cluster

#1033 fix(base-cluster/monitoring): slipped through review as well...
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#1024 fix(base-cluster/monitoring): don't configure route without receiver
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
Labels: base-cluster

#1036 fix(t8s-cluster): adjust for 1.29 the SeccompDefault featureGate is enabled by default anyways
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_kubelet.tpl
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/values.schema.json
Labels: t8s-cluster

#1040 chore(t8s-cluster): cleanup random stuff
  charts/t8s-cluster/values.schema.json
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#1042 feat(t8s-cluster/workload-cluster): skip component uninstall
  charts/t8s-cluster/templates/workload-cluster/_helmRelease.yaml
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/templates/workload-cluster/cni-cilium.yaml
  charts/t8s-cluster/templates/workload-cluster/gpu-operator.yaml
Labels: t8s-cluster

#1039 feat(t8s-cluster/workload-cluster): latch onto legacy cni when used
  charts/t8s-cluster/templates/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/repositories/cni-calico.yaml
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/templates/workload-cluster/cni-calico.yaml
  charts/t8s-cluster/templates/workload-cluster/cni-cilium.yaml
  charts/t8s-cluster/templates/workload-cluster/pre-install/uninstall-cni.yaml
  charts/t8s-cluster/values.schema.json
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#1050 chore(base-cluster): use template instead of duplicated value
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#1048 fix(base-cluster/kube-janitor): enable artifacthub-values and correctly prefix docker.io registry
  .github/trusted_registries.yaml
  charts/base-cluster/ci/artifacthub-values.yaml
  charts/base-cluster/templates/global/kube-janitor.yaml
Labels: base-cluster

#1047 chore(teuto-portal-k8s-worker): update image
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#947 feat(base-cluster): add kdave for deprecated CRD metrics
  .github/trusted_registries.yaml
  charts/base-cluster/templates/monitoring/kdave/kdave.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1058 fix(base-cluster/velero): remove dupplicated additionalLabels
  charts/base-cluster/templates/backup/velero.yaml
Labels: base-cluster

#1054 fix(t8s-cluster): use correct condition to include cilium helmrepository
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster
