Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-05, with the labels that each got.

#921 chore(teuto-portal-k8s-worker): update image
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#922 chore(t8s-cluster)!: remove unused gopassName field
  charts/t8s-cluster/README.md.gotmpl
  charts/t8s-cluster/templates/management-cluster/cluster.yaml
  charts/t8s-cluster/values.schema.json
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#930 chore(t8s-cluster/management-cluster): update flux resources they are deprecated
  charts/t8s-cluster/templates/management-cluster/repositories/cni-calico.yaml
  charts/t8s-cluster/templates/workload-cluster/cni-calico.yaml
Labels: t8s-cluster

#956 fix(common/telemetry): checking of endpoint add missing `http://` if necessary
  charts/common/templates/_telemetry.tpl
Labels: common

#945 feat(common/helm): add support for git helmRepositories
  charts/common/templates/_helm.tpl
Labels: common

#958 feat(ckan): Add ckan values variable
  charts/ckan/ci/_common.sh
  charts/ckan/ci/ckan-custom-values.yaml
  charts/ckan/ci/persistence-values.yaml
  charts/ckan/ci/smtp-values.yaml
  charts/ckan/templates/ckan/deployment.yaml
  charts/ckan/values.schema.json
  charts/ckan/values.yaml
Labels: ckan

#968 fix(ckan): change ingress tls template
  .github/CODEOWNERS
  charts/ckan/Chart.yaml
  charts/ckan/templates/ingress.yaml
Labels: ckan

#976 fix(ckan): change images to teutonet image repo
  .github/trusted_registries.yaml
  charts/ckan/values.yaml
Labels: ckan
