Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-12, with the labels that each got.

#1263 chore(ckan): add extra volumes to ckan
  charts/ckan/templates/ckan/deployment.yaml
  charts/ckan/values.schema.json
  charts/ckan/values.yaml
Labels: ckan

#1267 fix(base-cluster/kdave): deploy wrapped ServiceMonitor
  charts/base-cluster/templates/monitoring/kdave/kdave.yaml
Labels: base-cluster

#1274 chore(t8s-cluster/docs): add correct vim modeline
  charts/t8s-cluster/README.md.gotmpl
Labels: t8s-cluster
