Repository teutonet/teutonet-helm-charts, pull requests merged in 2024-06, with the labels that each got.

#946 feat(base-cluster): allow creating git helmRepositories
  charts/base-cluster/templates/_helpers.tpl
  charts/base-cluster/templates/global/helmRepositories.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#980 fix(base-cluster): set correct label for workinghours
  charts/base-cluster/values.schema.json
Labels: base-cluster

#979 chore(teuto-portal-k8s-worker): update image
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#974 fix(base-cluster): fix nodeCollector is not scheduleable
  charts/base-cluster/templates/monitoring/security/trivy.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#983 feat(base-cluster/raise_api_version): raise api version for helm.tool…
  charts/base-cluster/templates/_helmRelease.yaml
  charts/base-cluster/templates/backup/migrations/velero-4-to-5.yaml
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/templates/cert-manager/cert-manager.yaml
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/templates/dns/external-dns.yaml
  charts/base-cluster/templates/flux/flux.yaml
  charts/base-cluster/templates/global/helmRepositories.yaml
  charts/base-cluster/templates/global/reflector.yaml
  charts/base-cluster/templates/ingress/nginx.yaml
  charts/base-cluster/templates/kyverno/kyverno.yaml
  charts/base-cluster/templates/kyverno/policies/kyverno-base-policies/kyverno-policies.yaml
  charts/base-cluster/templates/kyverno/policies/teuto-policies/restrict-automount-sa-token/_policy.yaml
  charts/base-cluster/templates/kyverno/validation.tpl
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/prometheus-operator.yaml
  charts/base-cluster/templates/monitoring/loki/loki.yaml
  charts/base-cluster/templates/monitoring/metrics-server/metrics-server.yaml
  charts/base-cluster/templates/monitoring/security/trivy.yaml
  charts/base-cluster/templates/monitoring/tracing/grafana-tempo.yaml
  charts/base-cluster/templates/monitoring/tracing/opentelemetry-collector.yaml
  charts/base-cluster/templates/nfs-server-provisioner/nfs-server-provisioner.yaml
Labels: base-cluster

#987 fix(base-cluster): kyverno image registries
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#988 fix(base-cluster): add missing seccompProfiles
  charts/base-cluster/templates/global/prevent-uninstallation.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/cronjob.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/registration.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/unregister.yaml
Labels: base-cluster

#989 chore(base-cluster): add missing resources for descheduler
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#990 chore(base-cluster): fix kyverno pdb version
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#993 fix(base-cluster): wrong image for crds.migration
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#996 fix(base-cluster/kyverno): change image registry for the test image
  charts/base-cluster/templates/kyverno/kyverno.yaml
Labels: base-cluster

#999 feat(base-cluster/grafana): add persistence and configuration options…
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1001 chore(base-cluster): mustMerge* is the safer option
  charts/base-cluster/templates/global/priorityClasses.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/grafana-secret.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy-secret.yaml
Labels: base-cluster

#1002 chore(common): mustMerge* is the safer option
  charts/common/templates/_helm.tpl
  charts/common/templates/_resources.tpl
Labels: common

#1005 chore(t8s-cluster): improve developer experience by providing tab-completion
  charts/t8s-cluster/templates/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_kubeadmConfigTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmConfigTemplate/_nodePoolKubeadmConfigTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackClusterTemplate/_openStackClusterTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackMachineTemplates/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackMachineTemplates/_openstackMachineTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_kubelet.tpl
  charts/t8s-cluster/templates/workload-cluster/_helmRelease.yaml
  charts/t8s-cluster/templates/workload-cluster/etcd-defrag.yaml
  charts/t8s-cluster/templates/workload-cluster/pre-install/_uninstall-job.yaml
Labels: t8s-cluster
