Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-07, with the labels that each got.

#1563 fix(base-cluster/docs): there is no 9.0.0 release for now...
  charts/base-cluster/README.md
  charts/base-cluster/README.md.gotmpl
Labels: base-cluster

#1579 chore(t8s-cluster/management-cluster): remove `cloud-provider` flag >= 1.33.0
  charts/t8s-cluster/templates/management-cluster/check-k8s-version.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/patches/_kubelet.tpl
Labels: t8s-cluster

#1608 fix(base-cluster/rbac): whitespace trimming
  charts/base-cluster/templates/rbac/accounts.yaml
Labels: base-cluster

#1613 chore(teuto-portal-k8s-worker): change default loggingFormat to `json`
  charts/teuto-portal-k8s-worker/values.schema.json
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#1600 feat(base-cluster/monitoring/alertmanager)!: add receiver and route configuration capabilities
  charts/base-cluster/ci/alertmanager-values.yaml
  charts/base-cluster/ci/artifacthub-values.yaml
  charts/base-cluster/ci/pagerduty-values.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/alertmanager-networkpolicy.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1616 chore(base-cluster/monitoring): deploy log collector to potential control-plane
  charts/base-cluster/templates/monitoring/alloy.yaml
Labels: base-cluster

#1429 feat(base-cluster/monitoring): remove unnecessary labels from monitoring components
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/templates/cert-manager/cert-manager.yaml
  charts/base-cluster/templates/cert-manager/rules/certificate-expiration.yaml
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/templates/dns/external-dns.yaml
  charts/base-cluster/templates/flux/podMonitor.yaml
  charts/base-cluster/templates/flux/rules/flux-status.yaml
  charts/base-cluster/templates/ingress/nginx.yaml
  charts/base-cluster/templates/ingress/traefik.yaml
  charts/base-cluster/templates/kyverno/kyverno.yaml
  charts/base-cluster/templates/monitoring/alloy.yaml
  charts/base-cluster/templates/monitoring/kdave/kdave.yaml
  charts/base-cluster/templates/monitoring/kdave/rules/releases-with-deprecation.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_kube-state-metrics-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_node-exporter-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_prometheus-stack-config.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_prometheus_config.yaml
  charts/base-cluster/templates/monitoring/logs/loki.yaml
  charts/base-cluster/templates/monitoring/security/trivy.yaml
  charts/base-cluster/templates/monitoring/tracing/grafana-tempo.yaml
  charts/base-cluster/templates/nfs-server-provisioner/rules/storage-size.yaml
  charts/base-cluster/templates/tetragon/tetragon.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1602 chore(base-cluster/monitoring): migrate oauth2-proxy away from bitnami
  .github/trusted_registries.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
  charts/base-cluster/values.yaml
Labels: base-cluster

#1621 fix(base-cluster/kyverno): migrate to new `validationFailureAction` syntax
  charts/base-cluster/templates/kyverno/policies/kyverno-base-policies/kyverno-policies.yaml
Labels: base-cluster

#1626 feat(teuto-cnpg/credentials): allow adding roles during upgrades
  charts/teuto-cnpg/templates/credentials.yaml
Labels: teuto-cnpg

#1631 fix(base-cluster/monitoring): pin image-renderer version to ensure it's compatible
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster
