Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-02, with the labels that each got.

#1290 chore(base-cluster/docs): set vim modeline
  charts/base-cluster/README.md.gotmpl
Labels: base-cluster

#1306 fix(base-cluster): allow all protocols for DNS
  charts/base-cluster/templates/cert-manager/ciliumNetworkPolicy.yaml
  charts/base-cluster/templates/global/ciliumClusterwideNetworkPolicy.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/ciliumNetworkPolicy.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
Labels: base-cluster

#1328 feat(teuto-cnpg): add credential management
  charts/teuto-cnpg/ci/credential-values.yaml
  charts/teuto-cnpg/templates/credentials.yaml
Labels: teuto-cnpg

#1332 fix(t8s-cluster/workload-cluster): turn off bpf.masquerade
  charts/t8s-cluster/templates/workload-cluster/cni-cilium.yaml
Labels: t8s-cluster

#1335 feat(teuto-cnpg): allow existing secrets to be used and skip generati…
  charts/teuto-cnpg/templates/cluster.yaml
  charts/teuto-cnpg/templates/credentials.yaml
  charts/teuto-cnpg/templates/databases.yaml
  charts/teuto-cnpg/values.schema.json
Labels: teuto-cnpg

#1338 fix(t8s-cluster/management-cluster): add securityGroupRules for monitoring
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackClusterTemplate/_openStackClusterTemplateSpec.yaml
Labels: t8s-cluster

#1351 fix(base-cluster/rbac): also allow preexistingRoles for clusterRole assignment
  charts/base-cluster/templates/rbac/_rbac.tpl
Labels: base-cluster

#1350 fix(base-cluster/monitoring): use correct condition for grafana ingress
  charts/base-cluster/templates/NOTES.txt
Labels: base-cluster

#1344 feat(t8s-cluster): implement node-type specific securityGroupRules
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackClusterTemplate/_openStackClusterTemplateSpec.yaml
Labels: t8s-cluster

#1352 feat(teuto-cnpg/backup): add backup configuration
  charts/teuto-cnpg/ci/backup-values.yaml
  charts/teuto-cnpg/templates/cluster.yaml
  charts/teuto-cnpg/values.schema.json
Labels: teuto-cnpg

#1346 feat(common/telemetry): abstract telemetry config to allow typed usage
  charts/common/templates/_telemetry.tpl
  charts/common/values.schema.json
Labels: common

#1357 feat(base-cluster/monitoring): improve alerting
  charts/base-cluster/templates/cert-manager/rules/certificate-expiration.yaml
  charts/base-cluster/templates/flux/rules/flux-status.yaml
  charts/base-cluster/templates/monitoring/kdave/rules/releases-with-deprecation.yaml
Labels: base-cluster

#1381 feat(common/images): add template for pullPolicy
  charts/common/templates/_images.tpl
Labels: common

#1386 fix(base-cluster/monitoring): migrate to new flux metrics
  charts/base-cluster/templates/flux/rules/flux-status.yaml
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_kube-state-metrics-config.yaml
Labels: base-cluster

#1272 feat(t8s-cluster/api-server): add support for OIDC
  charts/t8s-cluster/templates/NOTES.txt
  charts/t8s-cluster/templates/management-cluster/clusterClass/_authenticationConfig.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/clusterClass.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/_k0smotronControlPlaneTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/k0smotronControlPlaneConfigMap.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/k0smotronControlPlaneTemplate.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_helpers.tpl
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_kubeadmControlPlaneTemplateSpec.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
Labels: t8s-cluster

#1395 chore(base-cluster/descheduler): migrate config
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster
