Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-04, with the labels that each got.

#1437 fix(teuto-cnpg): replace `_` in database name with `-`
  charts/teuto-cnpg/templates/databases.yaml
Labels: teuto-cnpg

#1441 feat(teuto-cnpg)!: hash names of databases, to avoid collisions and a…
  charts/teuto-cnpg/README.md.gotmpl
  charts/teuto-cnpg/templates/databases.yaml
Labels: teuto-cnpg

#1442 fix(teuto-cnpg): add values templating to README
  charts/teuto-cnpg/README.md.gotmpl
Labels: teuto-cnpg

#1440 feat(t8s-cluster): enable audit logging
  charts/t8s-cluster/files/audit-config.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/_helpers.tpl
Labels: t8s-cluster

#1432 feat(common/telemetry): add telemetry-collector as a generic service name
  charts/common/templates/_telemetry.tpl
Labels: common

#1424 chore(base-cluster): formatting
  charts/base-cluster/templates/monitoring/alloy.yaml
Labels: base-cluster

#1426 chore(common): add documentation about template usage
  charts/common/templates/_telemetry.tpl
Labels: common
