Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-09, with the labels that each got.

#1663 feat(teuto-cnpg)!: remodel to make use of the new way of creating barman backups
  charts/teuto-cnpg/README.md.gotmpl
  charts/teuto-cnpg/ci/backup-values.yaml
  charts/teuto-cnpg/ci/schedule-values.yaml
  charts/teuto-cnpg/templates/cluster.yaml
  charts/teuto-cnpg/templates/objectstore.yaml
  charts/teuto-cnpg/templates/schedule.yaml
  charts/teuto-cnpg/values.schema.json
Labels: teuto-cnpg

#1679 chore(t8s-cluster): migrate config, ignore-volume-az is not enough
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin/cinder-csi-plugin.yaml
Labels: t8s-cluster

#1701 fix(base-cluster/velero): remove last reference to bitnami images
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/values.schema.json
Labels: base-cluster

#1703 feat(t8s-cluster/auth): add staff authentication
  charts/t8s-cluster/templates/management-cluster/clusterClass/_authenticationConfig.yaml
Labels: t8s-cluster
