Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-06, with the labels that each got.

#1482 chore(t8s-cluster): pin versions
  .github/trusted_registries.yaml
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin/cinder-csi-plugin.yaml
  charts/t8s-cluster/templates/workload-cluster/cloud-controller-manager.yaml
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#1496 feat(base-cluster/monitoring): set code_challenge_method for oauth2-proxy
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/oauth-proxy.yaml
Labels: base-cluster

#1448 feat(base-cluster/monitoring): allow upsizing tempo storage
  charts/base-cluster/templates/monitoring/tracing/grafana-tempo.yaml
  charts/base-cluster/values.schema.json
  charts/base-cluster/values.yaml
Labels: base-cluster

#1421 chore(base-cluster/docs): update flux helmrelease command to update CRDs
  charts/base-cluster/README.md.gotmpl
Labels: base-cluster

#1500 feat(base-cluster/monitoring): set code challenge for grafana
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#1533 feat(base-cluster/monitoring): non-critical alerts aren't routed to on-call
  charts/base-cluster/templates/backup/velero.yaml
  charts/base-cluster/templates/cert-manager/rules/certificate-expiration.yaml
  charts/base-cluster/templates/flux/rules/flux-status.yaml
  charts/base-cluster/templates/monitoring/kdave/rules/releases-with-deprecation.yaml
  charts/base-cluster/templates/nfs-server-provisioner/rules/storage-size.yaml
Labels: base-cluster

#1547 chore(ckan): change sorl auth in preperation for service metrics
  charts/ckan/templates/ckan/deployment.yaml
  charts/ckan/templates/ckan/post-install.yaml
  charts/ckan/templates/solr/secret.yaml
  charts/ckan/values.yaml
Labels: ckan
