Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-05, with the labels that each got.

#1447 chore(base-cluster): pin all versions
  charts/base-cluster/Chart.yaml
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/values.yaml
Labels: base-cluster

#1451 chore(ckan): change env generation
  charts/ckan/templates/ckan/deployment.yaml
Labels: ckan

#1453 chore(ckan): support external db
  charts/ckan/templates/ckan/post-install.yaml
  charts/ckan/templates/datapusher/deployment.yaml
  charts/ckan/templates/postgresql/initconfig.yaml
  charts/ckan/templates/postgresql/secret.yaml
  charts/ckan/values.schema.json
  charts/ckan/values.yaml
Labels: ckan

#1455 chore(ckan): change env order
  charts/ckan/templates/ckan/post-install.yaml
Labels: ckan

#1457 chore(ckan): change psql connection
  charts/ckan/templates/ckan/post-install.yaml
Labels: ckan

#1459 chore(ckan): remove ext postgres config
  charts/ckan/templates/ckan/post-install.yaml
  charts/ckan/templates/postgresql/initconfig.yaml
  charts/ckan/values.schema.json
  charts/ckan/values.yaml
Labels: ckan

#1469 chore(ckan): use primary valkey instance
  charts/ckan/templates/ckan/deployment.yaml
Labels: ckan

#1478 chore(base-cluster/monitoring): remove deprecated plugin
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster

#1484 fix(base-cluster/rbac): *RoleBindings should always be prefixed to avoid collision
  charts/base-cluster/templates/rbac/roleBindings.yaml
Labels: base-cluster

#1485 feat(t8s-cluster): make apiserver resources configurable
  charts/t8s-cluster/ci/cp-with-resources-values.yaml
  charts/t8s-cluster/ci/hcp-with-resources-values.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/k0smotronControlPlaneTemplate/_k0smotronControlPlaneTemplateSpec.yaml
  charts/t8s-cluster/templates/management-cluster/clusterClass/kubeadmControlPlaneTemplate/_helpers.tpl
  charts/t8s-cluster/values.schema.json
  charts/t8s-cluster/values.yaml
Labels: t8s-cluster

#1483 chore(base-cluster): change descheduler syntax
  charts/base-cluster/templates/descheduler/descheduler.yaml
  charts/base-cluster/values.yaml
Labels: base-cluster

#1479 feat(base-cluster/monitoring): also read secrets for datasources
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_grafana-config.yaml
Labels: base-cluster
