Repository teutonet/teutonet-helm-charts, pull requests merged in 2025-01, with the labels that each got.

#1276 fix(t8s-cluster/cni): otherwise for >=1.30 there is no version
  charts/t8s-cluster/templates/management-cluster/repositories/cni-calico.yaml
Labels: t8s-cluster

#1277 chore(ckan): update solar and ckan container
  charts/ckan/Chart.lock
  charts/ckan/Chart.yaml
  charts/ckan/values.schema.json
  charts/ckan/values.yaml
Labels: ckan

#1273 chore(common/docs): set vim modeline
  charts/common/README.md.gotmpl
Labels: base-cluster, common

#1297 chore(ckan): add imagepullsecrets support
  charts/ckan/templates/ckan/deployment.yaml
  charts/ckan/templates/ckan/post-install.yaml
Labels: ckan

#1304 chore(ckan): fix imagepullsecrets support
  charts/ckan/templates/_helpers.tpl
  charts/ckan/templates/ckan/deployment.yaml
  charts/ckan/templates/datapusher/deployment.yaml
Labels: ckan

#1308 chore(ckan): fix postinstall ckan image
  charts/ckan/templates/ckan/post-install.yaml
Labels: ckan

#1052 fix(base-cluster/kube-prometheus-stack): only register healthcheck if enabled on both sides
  charts/base-cluster/ci/artifacthub-values.yaml
  charts/base-cluster/ci/deadmansswitch-values.yaml
  charts/base-cluster/templates/NOTES.txt
  charts/base-cluster/templates/monitoring/deadMansSwitch/registration.yaml
  charts/base-cluster/templates/monitoring/deadMansSwitch/validation.tpl
  charts/base-cluster/templates/monitoring/kube-prometheus-stack/_alertmanager-config.yaml
Labels: base-cluster

#1317 fix(t8s-cluster): use correct case for field
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackClusterTemplate/_openStackClusterTemplateSpec.yaml
Labels: t8s-cluster

#1310 feat(teuto-cnpg): add cnpg-wrapper skel
  charts/teuto-cnpg/.helmignore
  charts/teuto-cnpg/Chart.lock
  charts/teuto-cnpg/Chart.yaml
  charts/teuto-cnpg/ci/_common.sh
  charts/teuto-cnpg/ci/artifacthub-values.yaml
  charts/teuto-cnpg/ci/multiple-database-roles-string-values.yaml
  charts/teuto-cnpg/ci/multiple-database-roles-values.yaml
  charts/teuto-cnpg/ci/multiple-databases-string-values.yaml
  charts/teuto-cnpg/ci/multiple-databases-values.yaml
  charts/teuto-cnpg/templates/cluster.yaml
  charts/teuto-cnpg/templates/databases.yaml
  charts/teuto-cnpg/templates/podmonitor.yaml
  charts/teuto-cnpg/values.schema.json
  charts/teuto-cnpg/values.yaml
Labels: teuto-cnpg

#1324 feat(teuto-portal-k8s-worker): update image
  charts/teuto-portal-k8s-worker/values.yaml
Labels: teuto-portal-k8s-worker

#1327 fix(t8s-cluster): me be stupid I guess
  charts/t8s-cluster/templates/management-cluster/clusterClass/openStackClusterTemplate/_openStackClusterTemplateSpec.yaml
Labels: t8s-cluster

#1305 fix(t8s-cluster/workload-cluster): allow all protocols for DNS
  charts/t8s-cluster/templates/workload-cluster/cinder-csi-plugin/ciliumNetworkPolicy.yaml
Labels: t8s-cluster
